In [1]:
import pandas as pd

In [2]:
year = "2017"

In [3]:
df = pd.read_csv("./"+year+"_kona_pronostics.csv", delimiter=';', encoding = "ISO-8859-1")

In [4]:
df.tail(1)

,Unnamed: 0,Player,Athlete1,Athlete2,Athlete3,Athlete4,Athlete5,Athlete6,Datetime
180,180,Alex,FRO,SAN,STE,DON,KIE,AER,05/10/2017 19:47

In [5]:
df.head(5)

,Unnamed: 0,Player,Athlete1,Athlete2,Athlete3,Athlete4,Athlete5,Athlete6,Datetime
0,0,pompom.gali,FRO,KIE,DON,LAN,SAN,FROM,09/10/2017 13:18
1,1,Francois,FRO,FVL,KIE,POT,VIE,DON,09/10/2017 08:09
2,2,Cyrille morvant,FRO,KIE,SAN,FVL,HOF,DON,09/10/2017 07:43
3,3,Frédéric Viple,FRO,SAN,KIE,ODO,LAN,CHEV,08/10/2017 11:58
4,4,bruno trecoire,FRO,FVL,KIE,LAN,VIE,HOF,08/10/2017 11:28

In [6]:
df.Athlete1.value_counts().head(10)

FRO    123
SAN     24
FVL     15
KIE     10
LAN      4
HOF      2
CUN      1
AER      1
DON      1
Name: Athlete1, dtype: int64

In [7]:
df.Athlete2.value_counts().head(10)

SAN    52
KIE    40
FRO    34
FVL    26
HOF     7
DON     5
LAN     4
CUN     3
MCM     3
ODO     2
Name: Athlete2, dtype: int64

In [8]:
df.Athlete3.value_counts().head(10)

KIE    53
SAN    30
FVL    29
VIE    14
HOF    11
DON    11
FRO    11
LAN     5
ODO     3
AER     3
Name: Athlete3, dtype: int64

In [9]:
df.Athlete4.value_counts().head(10)

KIE    38
FVL    23
VIE    23
SAN    19
AER    18
HOF    11
POT     8
DON     6
LAN     5
CUN     4
Name: Athlete4, dtype: int64

In [10]:
df.Athlete5.value_counts().head(10)

VIE     22
FVL     18
KIE     18
DON     16
SAN     16
AER     15
HOF     14
LAN     10
CHEV     6
STE      5
Name: Athlete5, dtype: int64

In [11]:
df.Athlete6.value_counts().head(10)

VIE     24
DON     20
FVL     16
HOF     13
CHEV    13
AER      9
ODO      8
POT      7
KIE      7
SAN      7
Name: Athlete6, dtype: int64

In [12]:
#10 pts par bonne position.
#6 pts pour 1 athlète qui termine à 1 place de ton pronostic.
#4 pts pour 1 athlète qui termine à 2 places de ton pronostic.
#2 pts pour 1 athlète qui termine à 3 places de ton pronostic.
#1 pts pour 1 athlète qui termine à 4 places de ton pronostic.
def calculate_points(player):
    
    points_1 = 0
    points_2 = 0
    points_3 = 0
    points_4 = 0
    points_5 = 0
    points_6 = 0
    
    # if athlete estimated as 1st arrived 1st
    if player.Athlete1 == results[1]:
        points_1 = 10 
    # if athlete estimated as 1st arrived 2nd
    elif player.Athlete1 == results[2]:
        points_1 = 6 
    # if athlete estimated as 1st arrived 3rd
    elif player.Athlete1 == results[3]:
        points_1 = 4 
    # if athlete estimated as 1st arrived 4th
    elif player.Athlete1 == results[4]:
        points_1 = 2 
    # if athlete estimated as 1st arrived 5th
    elif player.Athlete1 == results[5]:
        points_1 = 1 
        
    # if athlete estimated as 2nd arrived 1st
    if player.Athlete2 == results[1]:
        points_2 = 6 
    # if athlete estimated as 2nd arrived 2nd
    elif player.Athlete2 == results[2]:
        points_2 = 10 
    # ...
    elif player.Athlete2 == results[3]:
        points_2 = 6 
    elif player.Athlete2 == results[4]:
        points_2 = 4 
    elif player.Athlete2 == results[5]:
        points_2 = 2 
    elif player.Athlete2 == results[6]:
        points_2 = 1 
 
    if player.Athlete3 == results[1]:
        points_3 = 4 
    elif player.Athlete3 == results[2]:
        points_3 = 6 
    elif player.Athlete3 == results[3]:
        points_3 = 10 
    elif player.Athlete3 == results[4]:
        points_3 = 6
    elif player.Athlete3 == results[5]:
        points_3 = 4 
    elif player.Athlete3 == results[6]:
        points_3 = 2 
    elif player.Athlete3 == results[7]:
        points_3 = 1 
    
    if player.Athlete4 == results[1]:
        points_4 = 2 
    elif player.Athlete4 == results[2]:
        points_4 = 4 
    elif player.Athlete4 == results[3]:
        points_4 = 6 
    elif player.Athlete4 == results[4]:
        points_4 = 10 
    elif player.Athlete4 == results[5]:
        points_4 = 6 
    elif player.Athlete4 == results[6]:
        points_4 = 4 
    elif player.Athlete4 == results[7]:
        points_4 = 2 
    elif player.Athlete4 == results[8]:
        points_4 = 1 
        
    if player.Athlete5 == results[1]:
        points_5 = 1 
    elif player.Athlete5 == results[2]:
        points_5 = 2 
    elif player.Athlete5 == results[3]:
        points_5 = 4 
    elif player.Athlete5 == results[4]:
        points_5 = 6
    elif player.Athlete5 == results[5]:
        points_5 = 10
    elif player.Athlete5 == results[6]:
        points_5 = 6 
    elif player.Athlete5 == results[7]:
        points_5 = 4 
    elif player.Athlete5 == results[8]:
        points_5 = 2 
    elif player.Athlete5 == results[9]:
        points_5 = 1 

    if player.Athlete6 == results[1]:
        points_6 = 0 
    elif player.Athlete6 == results[2]:
        points_6 = 1 
    elif player.Athlete6 == results[3]:
        points_6 = 2 
    elif player.Athlete6 == results[4]:
        points_6 = 4 
    elif player.Athlete6 == results[5]:
        points_6 = 6 
    elif player.Athlete6 == results[6]:
        points_6 = 10 
    elif player.Athlete6 == results[7]:
        points_6 = 6 
    elif player.Athlete6 == results[8]:
        points_6 = 4 
    elif player.Athlete6 == results[9]:
        points_6 = 2 
    elif player.Athlete6 == results[10]:
        points_6 = 1 
         
        
    return points_1 + points_2 + points_3 + points_4 + points_5 + points_6

In [13]:
# resultat fictif pour l'instant
results = {1:'FRO', 2:'SAN', 3:'STE', 4:'DON', 5:'KIE', 6:'AER', 7:'VIE', 8:'BOZ', 9:'DEG', 10:'POT'}
res = pd.Series(results)
df['Points'] = df.apply(calculate_points, axis=1)
df = df.sort_values(by ='Points', ascending=False)
df.head(10)

,Unnamed: 0,Player,Athlete1,Athlete2,Athlete3,Athlete4,Athlete5,Athlete6,Datetime,Points
180,180,Alex,FRO,SAN,STE,DON,KIE,AER,05/10/2017 19:47,60
166,166,Guillaume,FRO,SAN,FVL,DON,KIE,AER,05/10/2017 23:06,50
76,76,duf,FRO,SAN,KIE,DON,AER,FVL,06/10/2017 05:11,40
128,128,sadlig,FRO,SAN,VIE,AER,KIE,DON,06/10/2017 01:28,39
154,154,LOTTERIE,FRO,SAN,DON,KIE,AER,HOF,05/10/2017 23:57,38
115,115,gil34,FRO,SAN,FVL,KIE,DON,VIE,06/10/2017 01:58,38
92,92,Simon C,SAN,FRO,DON,KIE,VIE,AER,06/10/2017 03:30,38
60,60,Jotry,FRO,LAN,SAN,AER,KIE,VIE,06/10/2017 07:58,36
121,121,Bentri,FRO,SAN,KIE,AER,VIE,DON,06/10/2017 01:41,36
90,90,Brégeat Edouard,FRO,SAN,KIE,FVL,DON,VIE,06/10/2017 04:03,36

In [14]:
# save resuts within a CSV file
df.to_csv("./"+year+"_kona_pronostics_classement.csv", sep=';', encoding = "ISO-8859-1")